.body {
    margin: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

.header-text {
    font-size: 30px;
    color: rgba(101,134,177,0.8);
    -webkit-text-stroke: 1px rgba(114,177,101,0.8);
    -webkit-text-fill-color: rgba(101,134,177,0.8);
}

.textarea {
    top: 130px;
    right: 30px;
    width: 300px;
}

.keyboard {
    display: block;
    height: 100px;
    border: 2px solid black;
    padding: 5px;
    background: rgba(86, 189, 141, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard_keys {
    text-align: center;
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background:rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard_keys:active {
    background:rgba(255, 255, 255, 0.12);
}