.body {
    margin: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

.header-text {
    font-size: 30px;
    color: rgba(101,134,177,0.8);
    -webkit-text-stroke: 1px rgba(114,177,101,0.8);
    -webkit-text-fill-color: rgba(101,134,177,0.8);
}

#keyboard {
    display: block;
    border: 2px solid black;
    padding: 5px;
}